*{
  box-sizing: border-box;
}
* {
    font-family: 'Open Sans',sans-serif;
}
.bg-img {
  /* The image used */
  background-image: url("../../assets/images/donation.jpg");
  min-height: 480px;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.donate-form {
    background: #fff;
    padding: 20px;
    border-radius: 14px;
    box-shadow: 0 3.50909px 8.77273px rgb(0 0 0 / 10%);
    width: 90%;
}
.donate-form {

    padding: 20px;
    border-radius: 14px;

    width: 90%;
}
.donation-team-5000 p, .donation-type-selection p{
  background: #ededed;
  border-radius: 5px;
  padding: 7px 15px;
  font: normal 1rem/2 "Open Sans";
  height: 45px;
  color: #333;
  font-weight: 500;
}
p.donation-amount-default{
  background: #fff;
  color: #333;
  text-align: center;
  padding: 10px 5px;
  font: 500 16px/1.5 "Open Sans";
  height: 45px;
  border-radius: 5px;
}
.donation-form-amount {
background: #ededed;
padding: 15px 5px;
margin-top: 20px;
}
.contribute-guidelines-text {
    text-align: center;
    font-size: 13px;
    text-decoration: underline;
    font-weight: 600;
    padding: 15px 0 0;
}
.contribute-guidelines-text a {
      color: #333;
}
.section-heading h2 {
    font-size: 2rem;
    color: #3cc88f;
    font-weight: 700;
}
.contribute-offline .row.bank-details {
  box-shadow: 0 6px 10px -2px rgb(0 0 0 / 12%);
    padding: 25px 0;
    border-radius: 5px;
}
.contribute-offline h3 {
    font-size: 19px;
    color: #3cc88f;
    height: 35px;
    font-weight: 600;
    text-align: center;
}
.contribute-offline p {
    text-align: center;
}
.contribute-offline .col:not(:last-child) {
    border-right: 3px solid #3cc88f;
}
.guideline-box {
    flex-wrap: wrap;
    padding: 20px 40px;
    box-shadow: 3.32223px 3.32223px 8.30558px rgb(0 0 0 / 12%);
    border-radius: 12px;
    height: 125px;
    align-content: center;
}
.guideline-box p {
    flex: 100%;
    font-size: 14px;
    color: #000;
    font-weight: 500;
    text-align: center;
}
.donation-type-selection.active p {
    background: #51be78;
    color: #fff;
}
p.donation-amount-default.active {
    background: #51be78;
    color: #fff;
}
.donation-form-amount, .donation-team-5000, .donation-type-selection {
    cursor: pointer;
}
.donation-form-amount input[type=text] {
    border: 0;
    color: #51be78;
    font: 500 16px/1 "Open Sans";
    height: 45px;
}
.p, p {
    margin-bottom: 0;
}
.btn-rural {
    background: #51be78;
    color: #fff;
    margin-top: 20px;
    padding: 7px 20px;
    font-size: 1.2rem;
    border-radius: 6px;
}
.donation-citizen-selection p {
    margin-top: 20px;
    background: #ededed;
    border-radius: 5px;
    padding: 7px 20px;
    font:  1rem/2 "Open Sans";
    color: #51be78;
}
.border-radius-5 {
    border-radius: 5px;
}
.active{
background-color: #51be78;
color: #fff!important;
}
.active a {
  color: #fff!important;
}
.other-donation {
    padding: 0 0 75px;
}

element.style {
}
.contribution-modal .modal-title {
    color: #51be78;
    width: 100%;
    text-align: center;
}
.contribution-form .form-control, .contribution-form .form-select {
    border-radius: 5px;
    height: 45px;
    border: 1px solid #51be78;
}
.contribution-form .input-group-text {
    border: 1px solid #51be78;
    border-right: 0;
    background: #fff;
}
.accept-box {
    display: inline-flex;
    align-items: baseline;
    font-size: 13px;
}
.accept-box input {
    margin-right: 10px;
    position: relative;
    top: 3px;
}
.contribution-form .form-label span {
    color: #51be78;
    font-weight: 500;
}
.contribution-modal .modal-footer {
    border-top: 0;
    display: inline;
}
#contributeModal .btn-rural {
    margin-top: 0;
}
#contributeModal #notes {
    color: #51be78;
    font: 500 14px/1.25 "Open Sans";
    margin-top: 15px;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}

.btn-close {
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    padding: 0.25em 0.25em;
    color: #000;
    border: 0;
    border-radius: 0.25rem;
    opacity: .5;
    cursor: pointer;
  }
